<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Get a Quick Average from your team">
      <%= assigns[:page_title] || "QuickAverage" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= unless assigns[:about] do %>
      <.link href={~p"/about"}>
        <.button class="float-right mr-1">
          About
        </.button>
      </.link>
    <% end %>

    <%= if assigns[:about] do %>
      <.link href={~p"/"}>
        <.button class="float-right mt-2 mr-1">
          Create Random Room
        </.button>
      </.link>
    <% end %>

    <%= @inner_content %>
  </body>
</html>
